<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @asset.title %>
</p>

<div >
  <%= link_to image_tag(@asset.document.url()), @asset.document.url, :target => "_blank" %>
</div>

<%= link_to 'Edit', edit_admin_asset_path(@asset) %> |
<%= link_to 'Back', admin_assets_path %>
