<%= form_for @reptile, remote:true , html: { multipart: true, class:"form" } do |form| %>
<%= error_messages_for @reptile %>
<div id="messages"></div>

<div class="row">
  <div class="form-group col-md-5">
    <%= form.label :name %>
    <%= form.text_field :name, id: :reptile_name, class: "form-control" %>
  </div>
  
</div>

<div class="row"> 
  <div class="form-group col-md-3">
    <%= form.label :specie %>
    <%= form.text_field :specie, id: :reptile_specie, class: "form-control" %>
  </div>
  <div class="form-group col-md-1">
    <%= form.label :gender %>
    <%= form.select :gender, ["M", "F"], { include_blank: true }, { class: "form-control"} %>
  </div>

  <div class="form-group col-md-1">
    <%= form.label :weight %>
    <%= form.text_field :weight, id: :reptile_weight, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= form.label :birthday %>
  <%= form.date_select :birthday, {id: :reptile_birthday},  { :class=> "form-control", style:"display:inline !important; width: auto !important" }  %>
</div>
<div class="row">

  <div class="form-group col-md-2">
    <%= form.label :morphological_pattern %>
    <%= form.text_field :morphological_pattern, id: :reptile_morphological_pattern, class: "form-control"  %>
  </div>
  <div class="form-group col-md-2"><%= form.label :morphological_father %>    
    <%= form.collection_select(:morphological_father, @male_reptile, :id ,:name , { include_blank: true }, { class: "form-control"}) %></div>
    <div class="form-group col-md-2"><%= form.label :morphological_mother %>
      <%= form.collection_select(:morphological_mother, @female_reptile, :id ,:name , { include_blank: true }, { class: "form-control"} ) %></div>
    </div>
    <div class="row">
      <div class="form-group col-md-5">
        <%= form.label :avatar %>
        <%= form.file_field :avatar , class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :new_animal %>
      <%= form.check_box :new_animal, id: :reptile_new_animal %>
    </div>

    <div class="actions">
      <%= form.submit :class=>"btn btn-success" %>
    </div>
    <% end %>
