<%= form_for @reptile, html: { multipart: true } do |form| %>
  <%= error_messages_for  @reptile %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :reptile_name %>
  </div>
  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>
  <div class="field">
    <%= form.label :specie %>
    <%= form.text_field :specie, id: :reptile_specie %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday, id: :reptile_birthday %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, ["M", "F"], include_blank: true%>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight, id: :reptile_weight %>
  </div>

  <div class="field">
    <%= form.label :morphological_pattern %>
    <%= form.text_field :morphological_pattern, id: :reptile_morphological_pattern %>
  </div>

  <div class="field">
    <%= form.label :morphological_father %>    
    <%= form.collection_select :morphological_father, @male_reptile, :id ,:name , include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :morphological_mother %>
    <%= form.collection_select :morphological_mother, @female_reptile, :id ,:name , include_blank: true %>

  <div class="field">
    <%= form.label :new_animal %>
    <%= form.check_box :new_animal, id: :reptile_new_animal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
