<p id="notice"><%= notice %></p>

<p>
  <strong><%= t ('name')%>:</strong>
  <%= @reptile.name %>
</p>

<%= image_tag @reptile.avatar.url %>

<p>
  <strong><%= t ('specie')%>:</strong>
  <%= @reptile.specie %>
</p>

<p>
  <strong><%= t ('birthday')%>:</strong>
  <%= @reptile.birthday %>
</p>

<p>
  <strong><%= t ('gender')%>:</strong>
  <%= @reptile.gender %>
</p>

<p>
  <strong><%= t ('weight')%>:</strong>
  <%= @reptile.weight %>
</p>

<p>
  <strong><%= t ('morphological_pattern')%>:</strong>
  <%= @reptile.morphological_pattern %>
</p>

<p>
  <strong><%= t ('morphological_father')%>:</strong>
  <%= @reptile.morphological_father %>
</p>

<p>
  <strong><%= t ('morphological_mother')%>:</strong>
  <%= @reptile.morphological_mother %>
</p>

<p>
  <strong><%= t ('new_animal')%>:</strong>
  <%= @reptile.new_animal %>
</p>

<%= link_to (t 'Edit'), edit_reptile_path(@reptile) %> |
<%= link_to (t 'Back'), reptiles_path %>
